body {
    font-family: sans-serif;
    background-color: #DEDEDE;
    padding: 20px 0 28px 0;
    margin: 0;
    
  }  

  .album {
    max-width: 650px;
    padding: 20px;
    margin: 30px auto;
    background-color: #FFF;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
    overflow: hidden;
  }

  .artist {
    max-width: 650px;
    padding: 20px;
    margin: 30px auto;
    background-color: #FFF;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
    overflow: hidden;
  }

  .genre {
    max-width: 650px;
    padding: 20px;
    margin: 30px auto;
    background-color: #FFF;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
    overflow: hidden;
  }

  .playlist {
    max-width: 650px;
    padding: 20px;
    margin: 30px auto;
    background-color: #FFF;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
    overflow: hidden;
  }

  .tracks {
    max-width: 650px;
    padding: 20px;
    margin: 30px auto;
    background-color: #FFF;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
    overflow: hidden;
  }

  .track {
    max-width: 650px;
    padding: 20px;
    margin: 30px auto;
    background-color: #FFF;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
    overflow: hidden;
  }

  .album {
    max-width: 650px;
    padding: 20px;
    margin: 30px auto;
    background-color: #FFF;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
    overflow: hidden;
  }

  .artist {
    max-width: 650px;
    padding: 20px;
    margin: 30px auto;
    background-color: #FFF;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
    overflow: hidden;
  }

  .genre {
    max-width: 650px;
    padding: 20px;
    margin: 30px auto;
    background-color: #FFF;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
    overflow: hidden;
  }

  .playlist {
    max-width: 650px;
    padding: 20px;
    margin: 30px auto;
    background-color: #FFF;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
    overflow: hidden;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". . ."
      ". . ."
      ". . .";
  }



  
